<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add_book</title>


  </head>
  <body>


          {% include 'templates_include.html' %}


    <div class="container">

      <form class="" action="" method="post">
        <div class="form-group">
          <label for="">Tên Sách</label>
          <input class="form-control" type="text" name="book_name" value="" required>
        </div>

        <div class="form-group">
          <label for="">Tác giả</label>
          <input class="form-control" type="text" name="author" value="" required>
        </div>

        <div class="form-group">
          <label for="">Ảnh</label>
          <input class="form-control" type="text" name="image" value="" required>
        </div>

        <div class="form-group">
          <label for="">Mô tả</label>
          <input class="form-control" type="text" name="description" value="" required>
        </div>

        <div class="form-group">
          <label for="">Rating</label>
          <input class="form-control" type="float" name="rating" value="" required>
        </div>

        <div class="form-group">
          <input class="btn-sm btn btn-dark" type="submit" name="" value="Thêm">
        </div>



      </form>
    </div>






  </body>
</html>
